.card{
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    width: 500px;
    padding: 20px;
    max-width: 80vw;
    height: 55vh;
    box-shadow: 0px 18px 53px 8px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.tinderCards__cardContainer{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}
.swipe{
    position: absolute;
}
.card h3{
    color: #fff;
    position: absolute;
    margin: 10px;
    bottom: 0;
}